@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --gryffindor: #740001;
  --slytherin: #1a472a;
  --hufflepuff: #ffd800;
  --ravenclaw: #0e1a40;
  --default: black;
  --highlight: grey;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1rem;
}

.hacking {
  text-align: center;
  margin: 0.5rem auto;
}

.hacking button {
  padding: 0.5rem;
}

.filter {
  padding: 0.5rem;
  margin: 0.5rem auto;
  width: 80%;
  text-align: center;
}

.filter-system {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.filter div {
  border: 1px solid var(--default);
  margin: 0.5rem;
  padding: 0.5rem;
}

.spec {
  text-align: center;
}

.filter button {
  cursor: pointer;
}

.filter button:hover {
  background-color: var(--highlight);
}

.searchShow {
  text-align: center;
  margin: 0.5rem auto;
}

.searchShow input {
  padding: 0.5rem;
}

.searchShow button {
  cursor: pointer;
  padding: 0.5rem;
}

.searchShow button:hover {
  background-color: var(--highlight);
}

.sortAfter {
  background-color: var(--highlight);
}

.sortAfter[data-sort-direction="asc"]::after {
  content: "↑";
}

.sortAfter[data-sort-direction="desc"]::after {
  content: "↓";
}

table {
  margin: 2rem auto; /* Center the table and add some space around it */
  width: 80%;
  border: 1px solid rgb(200, 200, 200);
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 0.5rem;
  text-align: center; /* Center the content of cells */
  cursor: pointer;
}

th[scope="col"] {
  background-color: #696969;
  color: #fff;
}

th[scope="row"] {
  background-color: #d7d9f2;
}

tr:nth-child(even) {
  background-color: #eee;
}

tbody {
  cursor: pointer;
}

caption {
  padding: 0.5rem;
  caption-side: bottom;
}

img {
  border-radius: 50%;
  max-width: 100%;
  outline-offset: -8px;
  outline: 4px solid var(--default);
}

/* MODAL FOR PREFECT */

.hidden {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  box-shadow: 1px 1px 10px #333;
  padding: 2rem;
  background-color: var(--highlight);
  position: relative;
}

.close_button {
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  width: 2rem;
}

/* POPUP STUDENT */

/* Popup container */
#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#popup .popup_dialog {
  box-shadow: 1px 1px 10px #333;
  padding: 2rem;
  background-color: var(--highlight);
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#popup .popup_dialog .closePopUp {
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  aspect-ratio: 1/1;
  width: 2rem;
  cursor: pointer;
}

#popup .popup_article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#popup .popup_article .student_info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#popup .popup_article .name_container {
  display: flex;
  flex-direction: column;
}

#popup .popup_article .name_container p:first-child {
  margin-bottom: 0.5rem;
}

#popup .popup_article img {
  max-width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

#popup .popup_article button {
  padding: 0.5rem;
  cursor: pointer;
}
