:root {
  --gryffindor: #740001;
  --slytherin: #1a472a;
  --hufflepuff: #ffd800;
  --ravenclaw: #0e1a40;
  --default: black;
  --highlight: grey;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.filter {
  text-align: center;
  padding: 1rem;
  border: 1px solid var(--default);
  border-radius: 2rem;
  margin: 1rem;
}

.filter button {
  cursor: pointer;
}

.filter button:hover {
  background-color: var(--highlight);
}

.searchShow {
  text-align: center;
}

.searchShow input {
  padding: 1rem;
  border-radius: 2rem;
}

.searchShow button {
  cursor: pointer;
  padding: 1rem;
  border-radius: 2rem;
}

button {
  cursor: pointer;
  padding: 1rem;
  border-radius: 2rem;
}

.searchShow button:hover {
  background-color: var(--highlight);
}

.numberCount {
  display: flex;
  text-align: center;
  border: 1px solid var(--default);
  border-radius: 2rem;
  margin: 1rem;
  padding: 1rem;
}

.sortAfter {
  background-color: var(--highlight);
}

.sortAfter[data-sort-direction="asc"]::after {
  content: "↑";
}

.sortAfter[data-sort-direction="desc"]::after {
  content: "↓";
}

table {
  margin: 2rem auto; /* Center the table and add some space around it */
  width: 80%;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 1rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
  text-align: center; /* Center the content of cells */
  cursor: pointer;
}

th[scope="col"] {
  background-color: #696969;
  color: #fff;
}

th[scope="row"] {
  background-color: #d7d9f2;
}

tr:nth-child(even) {
  background-color: #eee;
}

caption {
  padding: 10rem;
  caption-side: bottom;
}

img {
  border-radius: 2rem;
  max-width: 100%; /* Make images responsive */
}

.hidden {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  box-shadow: 1px 1px 10px #333;
  border-radius: 2rem;
  padding: 2rem;
  background-color: var(--highlight);
  position: relative;
}

.close_button {
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  width: 2rem;
}

tbody {
  cursor: pointer;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_dialog {
  box-shadow: 1px 1px 10px #333;
  border-radius: 2rem;
  padding: 2rem;
  background-color: var(--highlight);
  position: relative;
}

.closePopUp {
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  border-radius: 2rem;
  aspect-ratio: 1/1;
  width: 2rem;
}
